@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.app {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  color: #cccccc;
  padding: 10px;
  display: flex;
  flex-flow: row;
}

button{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  color: #cccccc;
  font-size: 1.2rem;
  background-color: black;
  border: none;
  border-bottom: 1px solid #cccccc;
}

button:hover{
  background-color: #cccccc;
  color: black
}

.app-right{
  padding-left: 20px;
  flex-flow: column;
  overflow-x: hidden;
  width: 60%;
  scrollbar-width: none;
}

.right__buttons{
  position: absolute;
  background-color: black;
  width: 55%;
  display: flex;
  flex-flow: row;
  overflow: clip;
}

.console{
  margin-top: 40px;
}


.right-oldcommand{
  display: flex;
  flex-flow: column;
}

.app-left{
  display: flex;
  flex-flow: column;
  padding-right: 20px;
  border-right: 1px solid #cccccc;
}


.contacts-links{
  display: flex;
  flex-flow: column;
}

.intro-body{
  display: flex;
  flex-flow: column; 
}

.contacts-links a{
  color: #14a800;
}

.right-command{
  display: flex;
  flex-flow: row;
}

.blink-box {
  animation: blink 1.5s steps(1, end) infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 600px) {
  .app {
      flex-flow: column;
      overflow: scroll;


  }
  .app-left{
    border: none;
    border-bottom: 1px solid #cccccc;
  }
  .app-right{
  width: 100%;
  overflow: visible;
}
.right__buttons{
  position: relative;
}
.left__ascii{
  font-size: 0.7rem;
}
}