.project__title{
    font-size: 1.5rem;
}
.project__body{
    padding-left: 30px;
}

.project__source{
    padding-left: 30px;
}

.project__demo{
    padding-left: 30px;
}

.project__linkline{
    padding-left: 30px;
}

.projects{
    display: flex;
    flex-flow: column;
    width: 100%;
}

.projects a{
  color: #14a800;
}