.project{
    display: flex;
    flex-flow: row;
    gap: 20px;
    max-width: 600px;
    min-width: 20%;
    background-color: #202020;
    border-radius: 10px;
    transition: transform .2s; /* Animation */
    padding: 20px;
    border: 1px solid #404040
  }

  .project:hover{
    transform: scale(1.05)
  }

.post__content {
    flex: 0 1 auto;
    margin:0;
    font-size: 1rem;
    color: rgb(215, 186, 125);
}
.post__content h2 {
    margin-bottom: 0px;
}
.post__time {
    font-size: .9rem;
    color: #c586c0;
}
.post__info{
    color: rgb(197, 134, 192);
    font-size: 1.3rem;
    display: flex;
    gap: 10px;
}

.post__summary{
    line-height: 1.2rem;
    color: rgb(156, 220, 254);
}

.post__image img{
    width: 250px;
    max-width: 30vw;
}


@media screen and (max-width: 600px) {
    .post__image img{
        display: none;
    }
  }